@model LoginUser

<form asp-action="login" method="post">
	<input hidden asp-for="ReturnUrl" />

	<label>UserName</label>
	<input asp-for="UserName" />

	<label>Password</label>
	<input asp-for="Password" />

	<button type="submit">Log In</button>
</form>
